<div class="container mt-6">
  <h1 class="title is-1">
    <%= @user.name%>
  </h1>
<div class="columns">
  <div class="column">
    <h2 class="title is-4">
      Your Events
    </h2>
    <% @created_events.each do |t| %>
      <div class="is-flex is-justify-content-space-between box is-half">
        <p><%= link_to t.event, t ,class:"button is-info is-outlined"%></p>
        <p class="button is-danger">
          <%= link_to t, method: :delete,data: { confirm: "Are you sure you want to delete this Event?"} do %>
            <span class="icon has-text-white"><i class="fa fa-trash" aria-hidden="true"></i></span>
          <% end %> 
        </p>
      </div>
    <% end %>
  </div>
  <div class="column">
    <h2 class="title is-4">
      Your are Attending
    </h2>
    <% @upcoming_events.each do |ae| %>
      <div class="is-flex is-justify-content-space-between box is-half">
        <%= link_to ae.event, ae, class:"button is-info is-outlined" %>
      </div>
      <% end %>
  </div>
  <div class="column">
    <h2 class="title is-4">
    Past Events
    </h2>
    <% @past_events.each do |t| %>
      <div class="is-flex is-justify-content-space-between box is-half">
        <p><%= link_to t.event, t ,class:"button is-info is-outlined"%></p>
      </div>
    <% end %>
  </div>
</div>
</div>
