<div class="container mt-6">
  <h1 class="title is-1">
    <%= @event.event %> 
  </h1>
  <h1 class="title is-5">
    <%= @event.description %>
  </h1>
  <h1 class="title is-6">
  <p class="mb-0"><i class="fa fa-calendar" aria-hidden="true"></i> <%= @event.date.to_date %></p>
  <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @event.date.strftime('%I:%M %p') %></p>
  </h1>

  <% if user_signed_in? && current_user.id == @event.creator.id %>
  <h1 class="title is-6">
    Create By: You
  </h1>
  <% else %>
  <h1 class="title is-6">
    Create By: <%= @event.creator.name %>
  </h1>
  <% end %>

<%# <% flag = false %>

<h1 class= "title is-6 mt-6">Guest List
  <% @event.attendees.each do |attendee|%>
   <div class="column is-flex is-justify-content-space-between">
    <h2 class="title is-4">
      <%= attendee.name %>
    </h2>
      <%# <% check_attendee(current_user, attendee, flag) %>
   </div>
  <% end %>
</h1>
<% attendances_method %>
<%= link_to "Back", :back , class:"button is-success is-medium" %>

</div>
