<!DOCTYPE html>
<html>
  <head>
    <title>Eventbride</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if  flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if  flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
      <div class="container">
      <div class="navbar-brand">
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class="title is-3 has-text-white">Eventbride</h1>
        <% end %>
      </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
            <% if user_signed_in? %>
              <div class="control mr-5 mb-3">
                <h2 class="title is-5 has-text-white">
                  Welcome <%= current_user.name%>!
                </h2>
              </div>
              <p class="control mr-3">
                <%= link_to 'Dashboard', current_user, class: "button is-success" %>
              </p>
              <p class="control">
                <%= link_to 'Log Out', '/logout', class: "button is-outlined is-danger" %>
              </p>
            <% else %>
              <p class="control mr-3">
                <%= link_to 'Sign In', '/login', class: "button is-success" %>
              </p>
              <p class="control">
                <%= link_to 'Sign Up', '/signup', class: "button is-success" %>
              </p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
